# Dependencies
node_modules
client/node_modules
server/node_modules

# Build files
client/build
client/dist

# Environment files
.env
.env.*
!.env.example

# Git files
.git
.gitignore

# Database files
*.db
*.sqlite

# Logs
*.log
npm-debug.log*

# IDE files
.idea
.vscode
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db 